<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ '/style.css' | version | url }}">
   <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
   <link rel="icon" type="image/png" href="{{ '/img/Icon.png' | version | url }}">
   <meta name="darkreader-lock">
   {% if site.title %}
   <title>{{ site.title }}</title>
   {% endif %}
   {% if site.description %}
   <meta name="description" content="{{ site.description }}">
   {% endif %}
</head>
<body class="bg-gray-100 dark:bg-gray-900">
   <div class="flex">
      <!-- Sidebar -->
      {% include "sidebar.njk" %}
      <div class="flex flex-row-reverse flex-1 mx-auto max-w-7xl">
         <!-- Table of Content -->
         {% if content | toc %}
         <div class="sticky top-0 hidden w-64 h-screen pt-20 overflow-y-hidden bg-gray-100 lg:flex lg:flex-col dark:bg-gray-900">
            <h5 class="mb-3 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-gray-100">On this page</h5>
            <div class="overflow-x-hidden overflow-y-auto text-sm font-medium break-words">
               {{ content | toc | safe }}
            </div>
         </div>
         {% endif %}
         <!-- Article -->
         <div class="flex flex-col flex-1">
            <!-- Hamberger Menu Spacer -->
            <div class="sticky top-0 z-10 h-16 bg-gray-100 dark:bg-gray-900 md:hidden print:hidden"></div>
            <main class="px-4 py-0 prose sm:px-6 md:px-8 md:py-12 dark:prose-dark max-w-none focus:outline-none print:px-0" tabindex="0">
               {{ content | safe }}
            </main>
            {% if not skipEdit %}
            <div class="flex flex-row-reverse px-4 py-4 sm:px-6 md:px-8 md:py-0 md:pb-12 print:hidden">
               <a class="text-gray-700 underline transition-colors duration-200 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100" href="{{ page.inputPath | edit }}">Edit this page on GitHub</a>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</body>
</html>
