name: Build documentation

on:
  push:
    branches:
    - master

env:
  TITLE: apos-docs
  DESCRIPTION: Documentation static site generator.
  BASE: apos-docs
  REPO: https://github.com/Apostolique/apos-docs/tree/master/

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Get version from tag
      run: |
        TAGVERSION=$(git describe --tags --abbrev=0)
        echo "TAGVERSION=${TAGVERSION:1}" >> $GITHUB_ENV
    - run: npm --no-git-tag-version version ${{ env.TAGVERSION }}
    - name: Install apos-docs
      run: npm install -g
    - name: Setup npm cache
      uses: c-hive/gha-npm-cache@v1
    - name: Use apos-docs
      run: |
        apos-docs -t ${{ env.TITLE }} -d '${{ env.DESCRIPTION }}' -b ${{ env.BASE }} -r ${{ env.REPO }}
        cd apos-docs
        npm install
        npm run build
        cd -
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./apos-docs/_site
